@font-face {
  font-family: AGBuchExtendedBQ;
  src: url(../public/fonts/AGBuchExtendedBQ-Bold.otf);
  font-display: block;
}
.agbuch_bold{
  font-family: AGBuchExtendedBQ;
}
@font-face {
  font-family: Druk-Heavy-Trial;
  src: url(../public/fonts/Druk-Heavy-Trial.otf);
  font-display: block;
}
.drukheavy{
  font-family: Druk-Heavy-Trial;
}

